.admin_panel{
    max-width: 1600px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 40px auto;
    .content_cart{
        width: 100%;
        height: 400px;
        margin-bottom: 30px;
        &:hover{
            background-color: white;
            cursor: default;
        }
    }
}
