// Fonts
@import url('https://fonts.googleapis.com/css2?family=Exo+2&display=swap');

$blue: #45bddf;
$red: crimson;
$black: #181717;
$border: 64px 3px;

%flexCont{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
%button{
    font-size: 16px;
    background: transparent;
    border: 2px solid $red;
    border-radius: 35px;
    color: white;
    &:hover{
        border: 2px solid $blue;
        cursor: pointer;
        color: $blue;
    }
}
// Bootstrap
@import '~bootstrap/scss/bootstrap';

@import 'header';
@import "autorization";
@import "menu";
@import "registration";
@import "main_page";
@import "video_cart";
@import "profile";
@import "admin";

body{
    background: url("../img/background.jpg");
    background-attachment: fixed;
    background-repeat: no-repeat;
    padding-top: 400px;
}
